
.target {
  display: grid;
  border: 1px solid;
  height: 400px;
  width: 400px;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
}


.one-inner {
  grid-column: 2 / 20;
  grid-row: 2 / 20;
}

.one-outer {
  grid-column: 3 / 19;
  grid-row: 3 / 19;
}

.kill-left {
  grid-column: 10 / 19;
  grid-row: 15 / 19;
  background-color: blue;
  height: 10px;
  width: 10px;
}

.kill-right {
  grid-column: 18 / 19;
  grid-row: 15 / 19;
  background-color: blue;
  height: 10px;
  width: 10px;
}

.two-inner {
  grid-column: 4 / 18;
  grid-row: 4 / 18;
  border: 1px solid black;
}

.two-outer {
  grid-column: 5 / 17;
  grid-row: 5 / 17;
}

.three-inner {
  grid-column: 6 / 16;
  grid-row: 6 / 16;
  border: 1px solid black;
}

.three-outer {
  grid-column: 7 / 15;
  grid-row: 7 / 15;
}

.four-inner {
  grid-column: 8 / 14;
  grid-row: 8 / 14;
  border: 1px solid black;
}

.four-outer {
  grid-column: 9 / 13;
  grid-row: 9 / 13;
}

.five-inner {
  grid-column: 10 / 12;
  grid-row: 10 / 12;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

div {
  border-radius: 50%;
}

.bull {
  background-color: red;
  height: 10px;
  position: relative;
  width: 10px;
}

.bull:after {
  background-color: red;
  content: "";
  height: 2px;
  left: -4px;
  position: absolute;
  top: 4px;
  width: 10px;
}